.activity-board {
  background-color: black;
  display: grid;
  height: 60vh;
  margin: $l-size auto;
  grid-template-areas:  "photo photo photo photo photo"
                        "photo photo photo photo photo"
                        "photo photo photo photo photo"
                        "demo demo demo demo demo"
                        "demo demo demo demo demo";

  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:  "photo photo photo demo demo"
                          "photo photo photo demo demo"
                          "photo photo photo demo demo"
                          "photo photo photo demo demo"
                          "photo photo photo demo demo";
  }
}

.activity-board__container {
  background: $gray;
  cursor: pointer;
  grid-area: photo;
  overflow: hidden;
}

.activity-board__container__photo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  bottom: 15%;
}

.activity-board__info {
  background: $yellow;
  color: $purple;
  grid-area: demo;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $desktop-breakpoint) {
    flex-direction: column;
  }
}

.activity-board__info__uppercase,
.activity-board__info__lowercase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: $l-size * 2;
  text-align: center;

  @media screen and (min-width: $desktop-breakpoint) {
    height: 50%;
  }
}

.activity-board__info__uppercase {
  border-right: 3px solid white;
  width: 50%;
  text-transform: uppercase;
  overflow: hidden;
  
  @media screen and (min-width: $desktop-breakpoint) {
    border-bottom: 3px solid white;
    width: 100%;
  }
}

.activity-board__info__lowercase {
  width: 50%;

  @media screen and (min-width: $desktop-breakpoint) {
    width: 100%;
  }
}

.activity-board__video {
  background: $default-blue;
  border-radius: 10px;
  padding: $s-size;
  max-width: 60rem;
  margin: 0 auto;
  outline: 0;
  overflow: hidden;
}

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
  padding: 0 $s-size;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}