@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'base/settings';
@import 'base/base';

@import 'pages/login';
@import 'pages/dashboard';

@import 'components/navbar';
@import 'components/progress-bar';