@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'base/settings';
@import 'base/base';

@import 'pages/404';
@import 'pages/login';
@import 'pages/dashboard';

@import 'components/navbar';
@import 'components/progress-bar';
@import 'components/activities-panel';
@import 'components/activity-card';
@import 'components/popover';
@import 'components/assistant';