// Colors
$default-blue: #1cb8f1;
$darken-blue: #003663;
$green: #39b54a;
$purple: #6E71AF;
$yellow: #F9E547;
$orange: #f7941d;
$gray: #e1e1e1;

// Spacing
$s-size: 0.5rem;
$m-size: 1.5rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Fonts
$default-font: 'Roboto', sans-serif;

// Breakpoints
$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 576px;